<div class="section about">
  <div class="spacer"></div>
  <div class="container">
    <h2>About</h2>
    <div class="row">
      <div class="one-third column">
        <h1>This is a poetic art project by artist and critical technologist, Thomas R Storey.</h1>
      </div>
      <div class="two-thirds column">
        <p class="about-text"><em>Sort'd</em> invites misinterpretation and miscommunication between human and machine notions of meaning and labor. By overlaying a playful, poetic sensibility with the ostenations of functionality, it pressures unquestioned way that neoliberal ideas of productivity and efficiency are valued.</p>
    </div>
    </div>
  </div>
</div>
