<div class="section hero">
  <div class="spacer"></div>
  <div class="container">
    <div class="row">
      <div class="one-third column">
        <div class="spacer"></div>
        <p class="hero-text">Sorting out life's problems can be tough.</br>Let us do it for you.</p>
        <div class="spacer"></div>
        <a href="./sort" id="try-button" class="button button-primary">Try It!</a>
      </div>
      <div class="two-thirds column">
      <h1 class="hero-title"> Sort'd </h1>
    </div>
    </div>
  </div>
  <p class="attribution">Image By Ggia (Own work) <a href="http://creativecommons.org/licenses/by-sa/3.0">[CC BY-SA 3.0]</a>, via Wikimedia Commons</p>
</div>
<div class="section info">
<div class="container">
  <h2>How it Works</h2>
<div class="row">
  <div class="one-third column">
    <h1>Describe Your Problem</h1>
    <p class="info-icon"><i class="fa fa-comment-o"></i></p>
    <p>Our sophisticated algorithm parses natural language descriptions of problems using the latest techniques.</p>
  </div>
  <div class="one-third column">
    <h1>Sort'd Sorts it Out</h1>
    <p class="info-icon"><i class="fa fa-cogs"></i></p>
    <p>The AI cloud process your problem and develops an efficient way to sort it out.</p>
  </div>
  <div class="one-third column">
    <h1>Problem Sort'd!</h1>
    <p class="info-icon"><i class="fa fa-check"></i></p>
    <p>We deliver the solution to you, and you can about your day, no problem left unsorted.</p>
  </div>
</div>
<div id="get-sortd-row" class="row">
  <h3>Have a problem? Let's sort it out!</h3>
  <a id="get-sortd-button" class="button button-primary" href="./sort">Get Sort'd!</a>
</div>
</div>
</div>
