<div class="share-modal-container">
    <div class="container">
      <div class="row share-modal">
        <div class="twelve columns">
        <h1 class="share-modal-title">Problem Sort'd!</h1>
        <p class="share-modal-text">Thanks for letting us help sort it out. Have any other problems that need sorting?</p>
        <a href="./sort" class="button button-primary sort-another-button">Sort Another!</a>
      </div>
    </div>
  </div>
</div>
