<div class="container">
  <label for="problem"><h1>Sort out a Problem</h1></label>
  <div class="row">
    <form method="post" action="#">
      <div class="row">
        <div class="two-thirds column">
         <textarea class="u-full-width" rows="5" placeholder="" name="problem" id="problem-area"></textarea>
         <input class="button-primary" value="Submit" type="submit" id="submit">
       </div>
       <div class="one-third column">
       <p class="instructions-text">Please describe your problem in a few words. Be specific, but succinct.</p>
       <p class="remaining-chars">Remaining characters:</p>
       </div>
      </div>
    </form>
  </div>
</div>
<script type="text/javascript">
  $("#submit").click(function(event){
    event.preventDefault();
    var data = $("form").serializeArray();
    $.post("/api/sort",{ problem: data[0] }, function(res){
      console.log(res);
      window.location.href = "http://" + window.location.host + "/show?id=" + res;
    });
  });

  $(".remaining-chars").text("Remaining characters: " + (200 - $("textarea").val().length));
  $("#submit").prop("disabled", true);

  $("textarea").bind('input propertychange', function() {
    $(".remaining-chars").text("Remaining characters: " + (200 - this.value.length));
    if(200 - this.value.length < 0 || this.value.length <= 0){
      $("#submit").prop("disabled", true);
    } else {
      $("#submit").prop('disabled', false);
    }
  });
</script>
