<div class="container">
  <div class="row">
    <form method="post" action="#">
      <div class="row">
        <label for="problem">Describe Your Problem</label>
         <textarea class="u-full-width" placeholder="" name="problem" id="problem"></textarea>
         <input class="button-primary" value="Submit" type="submit" id="submit">
      </div>
    </form>
  </div>
</div>
<script type="text/javascript">
  $("#submit").click(function(event){
    event.preventDefault();
    var data = $("form").serializeArray();
    $.post("/api/sort",{ problem: data[0] }, function(res){
      console.log(res);
      window.location.href = "http://" + window.location.host + "/show?id=" + res;
    });
  });
</script>
