<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:url" content="http://sort-apostrophe-d.com/" />
    <meta property="og:title" content="Sort'd" />
    <meta property="og:site_name" content="Sort'd" />
    <meta property="og:description" content="Let us sort out your problems!" />
    <meta property="og:image" content="http://sort-apostrophe-d.com/app/assets/img/sortd-logo-square.png" />
    <title>Sort'd - Sort Out Your Problems</title>
    <link rel="stylesheet" type="text/css" href="../../../bower_components/skeleton/css/skeleton.css"></link>
    <link rel="stylesheet" type="text/css" href="../../../bower_components/skeleton/css/normalize.css"></link>
    <link rel="stylesheet" type="text/css" href="app/assets/css/style.css"></link>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,300' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="../../../bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="../../../bower_components/progressbar.js/dist/progressbar.min.js"></script>
    <script type="text/javascript" src="../../../bower_components/d3/d3.js"></script>
  </head>
  <body>
    {{#if loading}}
    {{> loading}}
    {{/if}}
    {{#if share}}
    {{> share}}
    {{/if}}
    <div class="container">
    <nav class="navbar">
      <div class="container">
        <div id="logo-col" class="one-third column">
          <a href="/" id="logo-link"><h1 id="logo-text">Sort'd</h1></a>
          <div class="navbar-toggle"><i class="fa fa-bars"></i></div>
        </div>
        <ul class="mobile-navbar-list">
          <li class="navbar-item"><a class="navbar-link" href="/sort">Sort</a></li>
          <li class="navbar-item"><a class="navbar-link" href="/about">About</a></li>
        </ul>
      <div class="two-thirds column">
        <ul class="navbar-list">
          <li class="navbar-item"><a class="navbar-link" href="/about">About</a></li>
          <li class="navbar-item"><a class="navbar-link" href="/sort">Sort</a></li>
        </ul>
      </div>
      </div>
    </nav>
    </div>
    <div class="spacer"></div>
    {{#if main}}
      {{> main}}
    {{else if about}}
      {{> about}}
    {{else if show}}
        {{> show}}
    {{else if sort}}
      {{> sort}}
    {{/if}}
  </body>
  <script type="text/javascript" src="/app/assets/js/navbar.js"></script>
</html>
